<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>登录</title>
    <link rel="stylesheet" href="../static/css/element-ui.css" th:href="@{/css/element-ui.css}" />
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <script src="../static/js/vue.js" th:src="@{/js/vue.js}"></script>
    <script src="../static/js/element-ui.js" th:src="@{/js/element-ui.js}"></script>
    <script src="../static/js/axios.js" th:src="@{/js/axios.js}"></script>
</head>
<body>
<div class="container" id="login">
    <div class="login">
        <el-card class="box-card">
            <el-form label-position="right" label-width="80px" :model="form" ref="form" :rules="rules">
                <el-form-item label="用户名" prop="username">
                    <el-input v-model="form.username" class="login-input"></el-input>
                </el-form-item>
                <el-form-item label="密码" prop="password">
                    <el-input type="password" v-model="form.password" class="login-input"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" v-on:click="submit('form')">登录</el-button>
                    <el-button type="default" v-on:click="resetForm('form')">重置</el-button>
                </el-form-item>
            </el-form>
        </el-card>
    </div>
</div>
<script>
    var vm = new Vue({
        el: '#login',
        data: {
            rules: {
                username: [
                    {
                        required: true, message: '请输入用户名',trigger: 'blur'
                    }
                ],
                password: [
                    {
                        required: true, message: '请输入密码',trigger: 'blur'
                    }
                ]
            },
            form: {
                username: '',
                password: ''
            },
            formInline: {
                user: '',
                region: ''
            }
        },
        methods: {
            submit: function (form) {
                var self = this;
                self.$refs[form].validate(function (valid) {
                    console.log(valid)
//                    axios.post('/api/login', self.form)
//                        .then(function (res) {
//                            if (res.data.code == 1) {
//                                window.location.href = '/'
//                            }
//                            else {
//                                self.$message({
//                                    type: 'error',
//                                    message: res.data.message
//                                })
//                            }
//                        })
                })
            },
            resetForm: function (form) {
                this.$refs[form].resetFields();
            }
        }
    })
</script>
</body>
</html>